.lens-parameters-section
  flex-basis: auto
  flex-grow: 1
  flex-shrink: 1
  position: relative
  z-index: 2
  display: flex
  flex-wrap: wrap
  justify-items: flex-start
  align-items: center
  box-sizing: border-box
  padding-left: 3.75rem
  padding-right: 7rem
  width: 50%
  //max-width: 50rem
  min-height: 35rem
  color: white
  background: radial-gradient(100% 120% at 190% 50%, rgba(0,163,224,0.1) 0%, rgba(0,0,0,00) 99.9%,rgba(0,163,224,1) 100%)

@media screen and (max-width:  $tabletWidth)
  .lens-parameters-section
    width: 100%
    max-width: 100%
    min-height: 35rem
    background: $mainColor
@media screen and (max-width:  $toggleMenuMobile)
  .lens-parameters-section
    padding-left: 1rem


.lens-parameters__left-eye-tab
  margin-left: 3.5rem
  .eye-parameters__icon
    position: absolute
    top: -15%
    left: -3.5rem
    width: 2.5rem
    height: 2.5rem
  &.active-tab
    margin-left: 6.313rem
    .eye-parameters__icon
      top: -40%
      left: -6.313rem
      width: 5.313rem
      height: 4.625rem

.lens-parameters__left-eye-optical-strength
  margin-top: 0.5rem
  margin-bottom: 1.5rem
  label
    display: inline-block
    margin-bottom: 0.475rem
    padding-left: 1rem
    width: 100%
    color: rgba(255,255,255,1)
    font-family: CirceRegular
    font-size: 0.875rem
    letter-spacing: -0.1px
    user-select: none

.lens-parameters__both-eye-identical
  margin-bottom: 1.5rem
  label
    color: white

.lens-parameters__lenses-for-correction-astigmatism,
.lens-parameters__lenses-for-correction-presbyopia
  //float: left
  display: flex
  align-items: center
  //margin-top: 1.875rem
  margin-bottom: 1.5rem
  width: 100%
  &
    label
      height: 1.5rem
      font-family: CirceRegular
      font-size: 0.875rem
      letter-spacing: -0.1px
      line-height: 1.5rem
      color: white

.lens-parameters__lenses-for-correction-astigmatism-left-eye-parameters,
.lens-parameters__lenses-for-correction-presbyopia-left-eye-parameters,
.lens-parameters__lenses-for-correction-astigmatism-right-eye-parameters,
.lens-parameters__lenses-for-correction-presbyopia-right-eye-parameters
  margin-bottom: 1.5rem
  display: none

.lens-parameters__axis-container,
.lens-parameters__addidation-container
  display: inline-block
  width: 15rem
  margin-right: 1.5rem
  label
    margin-bottom: 0.5rem
  .custom-options
    padding-left: 1rem
  & .custom-options-caption
    top: 115%

.lens-parameters__optical-strength-spin-container
  display: inline-block
  line-height: 2rem

.lens-parameters__axis-container,
.lens-parameters__optical-strength-spin-container,
.lens-parameters__addidation-container
  label
    display: inline-block
    padding-left: 1rem
    width: 100%
    color: rgba(255,255,255,1)
    font-family: CirceRegular
    font-size: 0.875rem
    letter-spacing: -0.1px
    user-select: none
