.modal-container-lenses-parameters,
.modal-container-addpoints
  position: fixed
  display: flex
  height: calc(100vh - 6rem - 5rem)
  width: 100%
  top: 5rem
  left: 0
  transform: scale(0)
  z-index: 3
  &.appearing
    transform: scaleY(.01) scaleX(0)
    animation: unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards
    .modal-background-lenses-parameters,
    .modal-background-addpoints
      .modal-lenses-parameters,
      .modal-addpoints
        transform: scale(0)
        animation: zoomIn .5s .8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards
    &.disappearing
      transform: scale(1)
      animation: unfoldOut 1s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards
      .modal-background-lenses-parameters,
      .modal-background-addpoints
        .modal-lenses-parameters,
        .modal-addpoints
          animation: zoomOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards
@media screen and (max-width:  $iPadTabletWidth)
  .modal-container-lenses-parameters,
  .modal-container-addpoints
    top: 0
    height: calc(100vh)


.modal-container-settings
  position: fixed
  display: flex
  height: calc(100vh - 6rem - 5rem)
  width: 100%
  top: 5rem
  left: 0
  transform: scale(0)
  z-index: 3
  &.appearing
    transform: scale(1)
    .modal-background-settings
      background: rgba(0,0,0,.0)
      animation: fadeIn .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards
      .modal-settings
        transform: translateX(-1500px)
        animation: roadRunnerIn .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards
    &.disappearing
      animation: quickScaleDown 0s .5s linear forwards
      .modal-background-settings
        animation: fadeOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards
        .modal-settings
          animation: roadRunnerOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards
      

.modal-background-lenses-parameters,
.modal-background-addpoints,
.modal-background-settings
  flex-basis: auto
  flex-grow: 1
  flex-shrink: 1
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  background: rgba(0,0,0,.8)
  text-align: center
  vertical-align: middle
  overflow-x: hidden
  overflow-y: auto
  .modal-lenses-parameters,
  .modal-addpoints,
  .modal-settings
    position: relative
    display: inline-block
    padding: 1.5rem
    background: white
    border-radius: 3px
    font-weight: 300
    background-color: white
@media screen and (max-width:  $mobileWidth)
  .modal-background-lenses-parameters,
  .modal-background-addpoints
    align-items: flex-start

.modal-background-settings
  justify-content: flex-end

@keyframes unfoldIn
  0%
    transform: scaleY(.005) scaleX(0)
  50%
    transform: scaleY(.005) scaleX(1)
  100%
    transform: scaleY(1) scaleX(1)

@keyframes unfoldOut
  0%
    transform: scaleY(1) scaleX(1)
  50%
    transform: scaleY(.005) scaleX(1)
  100%
    transform: scaleY(.005) scaleX(0)

@keyframes zoomIn
  0%
    transform: scale(0)
  100%
    transform: scale(1)

@keyframes zoomOut
  0%
    transform: scale(1)
  100%
    transform: scale(0)
    
@keyframes roadRunnerIn 
  0%
    transform: translateX(3000px)
  70% 
    transform: translateX(0px)
  100% 
    transform: translateX(0px)

@keyframes roadRunnerOut 
  0% 
    transform: translateX(0px)

  30% 
    transform: translateX(0px)

  100% 
    transform: translateX(3000px)

@keyframes fadeIn 
  0%
    transform: scale(1)
    background: transparent
  100%
    background: rgba(0, 0, 0, 0.7)

@keyframes fadeOut 
  0%
    background: rgba(0, 0, 0, 0.7)
  100%
    background: transparent

@keyframes quickScaleDown 
  0%
    transform: scale(1)
  99.9%
    transform: scale(1)
  100%
    transform: scale(0)

