



///* Component Needs */
//
//.custom-tabs > input,
//.custom-tabs section > div
//  display: none
//
//
//#enterTab:checked ~ section .enter-tab,
//#registrationTab:checked ~ section .registration-tab
//  display: block
//
//
//#enterTab:checked ~ nav .enter-tab,
//#registrationTab:checked ~ nav .registration-tab
//  color: red
//
//
///* Visual Styles */
//
//$activeColor: #ffffff
//$unactiveColor: #eeeeee
//$unactiveHoverColor: #dddddd
//
//
.custom-tabs
  box-sizing: border-box
  width: 100%
  height: 100%
  ul
    display: flex
    align-items: baseline
    list-style: none
    margin: 0
    padding: 0
    .first-tab,
    .second-tab
      display: inline-block
      float: left
      //padding: 15px 25px
      //border: 1px solid #ddd
      //border-bottom: 0
      //background: $unactiveColor
      //min-width: 8.188rem
      height: 3.7rem
      font-family: CirceBold
      font-size: 1.75rem
      color: rgba(255,255,255,0.5)
      cursor: pointer
      user-select: none
      &:hover
        //background: $unactiveHoverColor
      &.active-tab
        font-size: 2.5rem
        color: white
          //background: $activeColor

  section
    box-sizing: border-box
    //height: 100%
    clear: both
    div.first-tab-content,
    div.second-tab-content
      //padding: 20px
      width: 100%
      line-height: 1.5em
      letter-spacing: 0.3px
      color: #444

//
//#enterTab:checked ~ nav .enter-tab,
//#registrationTab:checked ~ nav .registration-tab
//  label
//    font-size: 2.5rem
//    color: white
//    //position: relative
//
