extends ../layout/main

block variables
	- var title = 'Восстановить пароль'
	- var pageClass = 'restore-password-page'

block content
	section.lens-parameters-section
		include ../blocks/lens-parameters
	section.login-foto-section

