extends ../layout/login

block variables
	- var title = 'Регистрация'
	- var pageClass = 'registration-page'

block content
	section.additional-registration-section
		a(href="#" class="backwards-arrow" id="form-wizard-prev")
			+icon('ic_arrow-handle', 'backwards-arrow__icon')
			span Вернуться
		form(id="additionalRegistrationForm", method="get", action="#", role="form").additional-registration__form
			section
				h1 Регистрация
				.additional-registration__input-name-container.custom-input__container
					label(for="inputNameRegistration").additional-registration__name-label.custom-input__label Имя
						.custom-input__validation-output-container
							span.custom-input__validation-output-field Неверное имя
						.custom-input__inputs-container
							input(type="text" id="inputNameRegistration" placeholder="Имя").additional-registration__field-name.custom-input__field
							input(type="text" id="inputSurnameRegistration" placeholder="Фамилия").additional-registration__field-surname.custom-input__field

				.additional-registration__city-container.custom-input__container
					label.additional-registration__select-label.custom-input__label Выберите город
						.custom-input__validation-output-container
							span.custom-input__validation-output-field Неверный номер телефона
					.additional-registration__city-select-container
						select(name="city" id="city" class="custom-select additional-registration__city" placeholder="Город")
							option(value="Москва") Москва
							option(value="Санкт-Петербург") Санкт-Петербург
							option(value="Пенза") Пенза
							option(value="Мурманск") Мурманск
							option(value="Калининград") Калининград
					.additional-registration__trade-network-select-container
						//label.additional-registration__select-label.custom-input__label Выберите город
						select(name="tradeNetwork" id="tradeNetwork" class="custom-select additional-registration__trade-network" placeholder="Торговая сеть")
							option(value="Москва") Москва
							option(value="Санкт-Петербург") Санкт-Петербург
							option(value="Пенза") Пенза
							option(value="Мурманск") Мурманск
							option(value="Калининград") Калининград

				.custom-checkbox__container.additional-registration__accept-conditions
					label.custom-checkbox__label Я принимаю условия проведения акции
						input(type="checkbox" checked="unchecked" name="accept-conditions" value="accept-conditions").custom-checkbox__checkbox
						.custom-checkbox__icon-container
							+icon('check', 'custom-checkbox__checked-icon')
							+icon('uncheck', 'custom-checkbox__unchecked-icon')
				.custom-checkbox__container.additional-registration__agreement-personal-data
					label.custom-checkbox__label Я даю согласие на сбор, хранение и обработку своих персональных данных. Я подтверждаю, что ознакомлен (а) с моими правами, предусмотренными Федеральным законом РФ №152 «О персональных данных и политикой конфиденциальности».
						input(type="checkbox" checked="unchecked" name="agreement-personal-data" value="agreement-personal-data").custom-checkbox__checkbox
						.custom-checkbox__icon-container
							+icon('check', 'custom-checkbox__checked-icon')
							+icon('uncheck', 'custom-checkbox__unchecked-icon')
				.custom-checkbox__container.additional-registration__agreement-sms
					label.custom-checkbox__label Я даю согласие на получение смс сообщений и рассылок на мой адрес электронной почты с целью направления мне информации, связанной с проведением акции, а так же информирования меня о регистрации на сайте или внесения изменений в мои данные как участника Программы лояльности ACUVUE.
						input(type="checkbox" checked="unchecked" name="agreement-sms" value="agreement-sms").custom-checkbox__checkbox
						.custom-checkbox__icon-container
							+icon('check', 'custom-checkbox__checked-icon')
							+icon('uncheck', 'custom-checkbox__unchecked-icon')

			section
				.custom-tabs
					nav
						ul
							li(class="first-tab additional-registration__left-eye-tab active-tab") Левый
								+icon('ic_eye-b-open', 'eye-parameters__icon')
								.custom-tabs-underliner
							li(class="second-tab additional-registration__right-eye-tab") Правый
								.custom-tabs-underliner
					section
						div(class="first-tab-content additional-registration__left-eye-tab-content")
							.additional-registration__left-eye-optical-strength
								label Оптическая сила сферы
								.input-number-container
									span.input-number-decrement -
									input(class="input-number additional-registration__left-eye-optical-strength-input" id="opticalStrengthLeftEye" type="text" value="+3.25D" step="0.05" postfix="D" prefix="+")
									span.input-number-increment +
							.custom-checkbox__container.additional-registration__both-eye-identical
								label.custom-checkbox__label Оба глаза совпадают
									input(type="checkbox" checked="unchecked" name="both-eye-identical" value="both-eye-identical").custom-checkbox__checkbox
									.custom-checkbox__icon-container
										+icon('check', 'custom-checkbox__checked-icon')
										+icon('uncheck', 'custom-checkbox__unchecked-icon')
							.additional-registration__lenses-for-correction-astigmatism
								input(class="additional-registration__lenses-for-correction" id="astigmatismCorrectionLeftEye" type="radio" name="lenses-for-correction-left-eye" value="astigmatismLeftEye")
								label(for="astigmatismCorrectionLeftEye") Линзы для коррекции астигматизма

							.additional-registration__lenses-for-correction-astigmatism-left-eye-parameters
								.additional-registration__axis-container
									label.additional-registration__select-label Ось
									select(name="axes" id="axesLeftEye" class="custom-select axes" placeholder="Ось")
										option(value="1") 1
										option(value="2") 2
										option(value="3") 3
										option(value="4") 4
										option(value="5") 5

								.additional-registration__optical-strength-spin-container
									label.additional-registration__input-label Оптическая сила сферы
									.input-number-container
										span.input-number-decrement -
										input(class="input-number additional-registration__optical-strength-astigmatism-left-eye-input" id="opticalStrengthAstigmatismLeftEye" type="text" value="+3.25D" step="0.05" postfix="D" prefix="+")
										span.input-number-increment +

							.additional-registration__lenses-for-correction-presbyopia
								input(class="additional-registration__lenses-for-correction" id="presbyopiaCorrectionLeftEye" type="radio" name="lenses-for-correction-left-eye" value="presbyopiaLeftEye")
								label(for="presbyopiaCorrectionLeftEye") Линзы для коррекции пресбиопии

							.additional-registration__lenses-for-correction-presbyopia-left-eye-parameters
								.additional-registration__addidation-container
									label.additional-registration__select-label Аддидация
									select(name="axes" id="addidationLeftEye" class="custom-select axes" placeholder="Аддидация")
										option(value="1") от +2.00D до 2.50D
										option(value="2") от +2.50D до 3.00D
										option(value="3") от +3.00D до 3.50D
										option(value="4") от +3.50D до 4.00D

						div(class="second-tab-content additional-registration__right-eye-tab-content")
							.additional-registration__left-eye-optical-strength
								label Оптическая сила сферы
								.input-number-container
									span.input-number-decrement -
									input(class="input-number additional-registration__right-eye-optical-strength-input" id="opticalStrengthRightEye" type="text" value="+3.25D" step="0.05" postfix="D" prefix="+")
									span.input-number-increment +

							.additional-registration__lenses-for-correction-astigmatism
								input(class="additional-registration__lenses-for-correction" id="astigmatismCorrectionRightEye" type="radio" name="lenses-for-correction-right-eye" value="astigmatismRightEye")
								label(for="astigmatismCorrectionRightEye") Линзы для коррекции астигматизма

							.additional-registration__lenses-for-correction-astigmatism-right-eye-parameters
								.additional-registration__axis-container
									label.additional-registration__select-label Ось
									select(name="axes" id="axesRightEye" class="custom-select axes" placeholder="Ось")
										option(value="1") 1
										option(value="2") 2
										option(value="3") 3
										option(value="4") 4
										option(value="5") 5

								.additional-registration__optical-strength-spin-container
									label.additional-registration__input-label Оптическая сила сферы
									.input-number-container
										span.input-number-decrement -
										input(class="input-number additional-registration__optical-strength-astigmatism-right-eye-input" id="opticalStrengthPresbyopiaRightEye" type="text" value="+3.25D" step="0.05" postfix="D" prefix="+")
										span.input-number-increment +

							.additional-registration__lenses-for-correction-presbyopia
								input(class="additional-registration__lenses-for-correction" id="presbyopiaCorrectionRightEye" type="radio" name="lenses-for-correction-right-eye" value="presbyopiaRightEye")
								label(for="presbyopiaCorrectionRightEye") Линзы для коррекции пресбиопии

							.additional-registration__lenses-for-correction-presbyopia-right-eye-parameters
								.additional-registration__addidation-container
									label.additional-registration__select-label Аддидация
									select(name="axes" id="addidationRightEye" class="custom-select" placeholder="Аддидация")
										option(value="1") от +2.00D до 2.50D
										option(value="2") от +2.50D до 3.00D
										option(value="3") от +3.00D до 3.50D
			section
				.additional-registration__notify-container
					h1 Пароль выслан
					p.notify__message На указанный вами адрес электронной почты выслано письмо с ссылкой для восстановления пароля.
			button(type="button" id="form-wizard-next").additional-registration__next-button.button-save-type Далее
			button(type="submit").additional-registration-button.button-save-type Понятно

	section.login-foto-section

