extends ../layout/login

block variables
	- var title = 'Восстановить пароль'
	- var pageClass = 'restore-password-page'

block content
	section.restore-password-section
		a(href="./login.html" class="backwards-arrow")
			+icon('ic_arrow-handle', 'backwards-arrow__icon')
			span Вернуться
		.restore-password-container
			h1 Восстановить пароль
			p.restore-password__message Введите адрес, указанный при регистрации
			.restore-password__input-email-container.custom-input__container
				label(for="inputEmailRestore").restore-password__email-label.custom-input__label Электронная почта
					.custom-input__validation-output-container
						span.custom-input__validation-output-field Неверный формат
					.custom-input__inputs-container
						+icon('ic-mail', 'custom-input__icon login__mail-icon')
						input(type="email" id="inputEmailRestore" placeholder="Электронная почта").restore-password__field-email.custom-input__field
						button(type="button" onClick='location.href="restore-password-notify.html"').restore-password__button.button-save-type ВЫСЛАТЬ
	section.login-foto-section

