extends ../layout/login

block variables
	- var title = 'Подтверждение восстановления пароля'
	- var pageClass = 'restore-password-notify-page'

block content
	section.restore-password-notify-section
		.restore-password-notify-container
			h1 Пароль выслан
			p.restore-password-notify__message На указанный вами адрес электронной почты выслано письмо с ссылкой для восстановления пароля. Перейдите по ссылке, чтобы задать новый пароль.
			button(type="button").restore-password-notify__button.button-save-type Понятно
	section.login-foto-section
