extends ../layout/login

block variables
	- var title = 'Восстановить пароль'
	- var pageClass = 'restore-password-page'

block content
	section.restore-password-new__section
		.restore-password-new__container
			h1 Восстановить пароль
			p.restore-password-new__message Задайте новый пароль для входа на сайт
			.restore-password-new__input-email-container.custom-input__container
				form(id="setting-new-password-form", method="post", action="#", role="form").modal-settings__form
					.input-password__container.restore-password-new__input-password-container
						label(for="inputNewPasswordNew").input-password__new-label Новый пароль
						label(for="inputNewPasswordRepeat").input-password__repeat-label Повторите пароль
						.input-password__validation-output-container
							span.input-password__validation-output-field Неверный пароль
						.input-password__inputs-container
							+icon('Group-3', 'input-password__password-icon')
							input(type="password" id="inputNewPasswordNew").input-password__field-new
							input(type="password" id="inputNewPasswordRepeat").input-password__field-repeat
							.input-password__show-hide-password-button
								+icon('ic-eye-close', 'input-password__show-password-icon')
								+icon('ic-eye-open', 'input-password__hide-password-icon')
							button(type="submit").input-password__ok-button.button-save-type Сохранить

	section.login-foto-section

