footer
    .footer__warning-block
    .footer__certificate-data © 2016, ООО «Джонсон & Джонсон». Товар сертифицирован.  Рег. удостоверения  №ФСЗ 2009/03724 от 25.09.2009 г.,  №ФСЗ 2010/07713 от 24.08.2010 г.,  №ФСЗ 2010/07338 от 05.07.2010 г.,  №ФСЗ 2010/07446 от 20.07.2010 г.,  №ФСЗ 2008/01309 от 22.07.2010 г