header
    .main-header__logo-container
        a.main-header__first-logo-link(href="javascript:void(0);")
            +icon('location-24px-glyph_pin', 'main-header__first-logo')
        .main-header__logo-separator
        a.main-header__second-logo-link(href="javascript:void(0);")
            +icon('location-24px-glyph_pin', 'main-header__second-logo')

    include menu

    .main-header__phone-icon-container
        a(href="javascript:void(0);")
            +icon('ic_settings_sms', 'ic_settings_sms')
    .main-header__first-phone-number
        a(href="javascript:void(0);")
            p Горячая линия
            p.main-header__phone-number +7&nbsp968&nbsp432-63-60
            p.main-header__time-for-calling пн-сб: с 03:00 до 8:00
    .main-header__second-phone-number
        a(href="javascript:void(0);")
            p.main-header__phone-number +7&nbsp965&nbsp111-05-30
            p.main-header__time-for-calling пн-сб: с 08:00 до 17:00
    .main-header__exit-icon-container
        a(href="javascript:void(0);")
            +icon('ic_settings_pass', 'ic_settings_pass')