.lens-card
    .lens-card__foto-container
    .lens-card__description-container
        h3 1-Day Acuvue® Moist for astigmatism
        .lens-card__addition-info
            span.lens-card__quantity 6 шт.&nbsp
            span.lens-card__points 30
