nav.navbar.navbar-expand-xl.navbar-light.d-inline-flex.justify-content-start(role="navigation")
    a(class="navbar-brand" href="#")
        .header-logo-block
            .header-logo-acuvue
            .header-logo-separator
            .header-logo-optica
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
        .nav-bar-icon-container.d-inline-flex.align-items-center
            span.navbar-toggler-icon
            span.navbar-toggler-text Меню
    .collapse.navbar-collapse
        ul.navbar-nav
            li.nav-item
                a.nav-link(href="javascript:void(0);") Главная
            li.nav-item
                a.nav-link(href="javascript:void(0);") Линзы&nbspучаствующие&nbspв&nbspакции
            li.nav-item
                a.nav-link(href="javascript:void(0);") Вопрос&nbsp-&nbspответ
            li.nav-item
                a.nav-link(href="javascript:void(0);") Правила
            li.nav-item
                a.nav-link(href="javascript:void(0);") Обратная&nbspсвязь