nav.custom-navbar__menu
    ul.custom-navbar__active
        li
            a(href="main.html") Главная
        li
            a(href="javascript:void(0);").action-lens-link Линзы&nbspучаствующие&nbspв&nbspакции
        li
            a(href="javascript:void(0);").question-answer-link Вопрос&nbsp-&nbspответ
        li
            a(href="javascript:void(0);") Правила
        li
            a(href="javascript:void(0);").feedback-link Обратная&nbspсвязь
        li.menu-exit-item
            a(href="javascript:void(0);")
                +icon('ic_settings_pass', 'ic_settings_pass')
                span Выход
    a.custom-navbar__toggle-nav(href="javascript:void(0);")
        +icon('group-26', 'toggle-icon')
        span Меню