.modal-container-points-friend
    .modal-background-points-friend
        section.modal-points-friend
            .modal-close-button
            h1.points-friend__caption Ваша ссылка
            p Отправьте другу ссылку и получите 20 баллов за его регистрацию
            .points-friend__input-link-container.custom-input__container
                .custom-input__validation-output-container
                    span.custom-input__validation-output-field Неверное значение
                .custom-input__inputs-container
                    input(type="text" placeholder="acuvuepromo.ru/zAd841").points-friend__field-link.custom-input__field

            button(type="button").modal-points-friend__copy-button.button-save-type Скопировать


