.modal-container-action-lens
    .modal-background-action-lens
        section.modal-action-lens
            .modal-close-button
            h1.modal-action-lens__caption Участвующие линзы
            h1.modal-action-lens__order-caption Заказать бесплатную упаковку
            ul.modal-action-lens__lens-list-container
                li.modal-action-lens__lens-item(tabindex="1000")
                    include ../blocks/lens-card
                li.modal-action-lens__lens-item(tabindex="1000")
                    include ../blocks/lens-card
                li.modal-action-lens__lens-item(tabindex="1000")
                    include ../blocks/lens-card
                li.modal-action-lens__lens-item(tabindex="1000")
                    include ../blocks/lens-card
                li.modal-action-lens__lens-item(tabindex="1000")
                    include ../blocks/lens-card
                li.modal-action-lens__lens-item(tabindex="1000")
                    include ../blocks/lens-card
                li.modal-action-lens__lens-item(tabindex="1000")
                    include ../blocks/lens-card
                li.modal-action-lens__lens-item(tabindex="1000")
                    include ../blocks/lens-card
                li.modal-action-lens__lens-item(tabindex="1000")
                    include ../blocks/lens-card
                li.modal-action-lens__lens-item(tabindex="1000")
                    include ../blocks/lens-card
                li.modal-action-lens__lens-item(tabindex="1000")
                    include ../blocks/lens-card
                li.modal-action-lens__lens-item(tabindex="1000")
                    include ../blocks/lens-card

            button(type="button").modal-action-lens__close-button.button-close-type Закрыть
            button(type="button").modal-action-lens__order-button.button-save-type Заказать бесплатно