.modal-container-QR-code
    .modal-background-QR-code
        section.modal-QR-code
            .modal-close-button
            h1.QR-code__caption Ваш QR код
            p Покажите ваш код при покупке линз для начисления бонусных баллов.
            .QR-code-container
            button(type="button").modal-QR-code__copy-button.button-save-type Скопировать


