.modal-container-addpoints.mCustomScrollbar(data-mcs-theme="dark-3")
    .modal-background-addpoints
        section.modal-addpoints
            .modal-close-button
            h2.modal-addpoints__caption Как заработать баллы?
            .modal-addpoints__article-container
                div.modal-addpoints__article
                    h3.modal-addpoints__article-caption 10 баллов
                    p.modal-addpoints__article-subcaption За регистрацию
                    .modal-addpoints__article__icon-container
                        +icon('domain-registration', 'modal-addpoints__article__icon')
                    ul.modal-addpoints__conditions Для получения 10 баллов за регистрацию необходимо:
                        li Зарегистрироваться в программе
                        li Подтвердить адрес электронной почты
                        li Заполнить полностью все поля формы регистрации
                div.modal-addpoints__article
                    h3.modal-addpoints__article-caption 300 ₽ на телефон
                    p.modal-addpoints__article-subcaption За первую покупку
                    .modal-addpoints__article__icon-container
                        +icon('domain-registration', 'modal-addpoints__article__icon')
                    ul.modal-addpoints__conditions Для получения денег на телефон необходимо:
                        li Совершить первую покупку хотя бы 1 упаковки линз ACUVUE® после регистрации в программе
                        li Отсканировать QR код у консультанта
                        li Деньги будут зачислены в течение 1 рабочего дня
                div.modal-addpoints__article
                    h3.modal-addpoints__article-caption 10+10 баллов
                    p.modal-addpoints__article-subcaption За друга
                    .modal-addpoints__article__icon-container
                        +icon('domain-registration', 'modal-addpoints__article__icon')
                    ul.modal-addpoints__conditions Для получения 20 баллов за друга необходимо:
                        li Нажать в ЛК на кнопку «Пригласить друга»
                        li Переслать сгенерированную в ЛК ссылку другу
                        li Получить 10 баллов за друга, прошедшего регистрацию по ссылке
                        li Получить еще 10 баллов за друга, совершившего первую покупку
                div.modal-addpoints__article
                    h3.modal-addpoints__article-caption 10 БАЛЛОВ
                    p.modal-addpoints__article-subcaption За каждую 5 покупку
                    .modal-addpoints__article__icon-container
                        +icon('domain-registration', 'modal-addpoints__article__icon')
                    ul.modal-addpoints__conditions Для получения 10 баллов за каждую пятую покупку необходимо:
                        li Совершить 5 покупок в указанный в программе срок
                        li Регулярно совершать покупки
                div.modal-addpoints__article
                    h3.modal-addpoints__article-caption 20 баллов
                    p.modal-addpoints__article-subcaption За отлично закрытую сессию
                    .modal-addpoints__article__icon-container
                        +icon('domain-registration', 'modal-addpoints__article__icon')
                    ul.modal-addpoints__conditions Для получения 20 баллов за сессию на отлично необходимо:
                        li Закрыть сессию на отлично
                        li Совершить покупку в сети оптик "Хамелеон"
                        li Предъявить зачетную книжку при покупке консультанту для зачисления дополнительных баллов
            a(href="javascript:void(0);" class="modal-addpoints__further-button button-save-type") Далее