.modal-container-settings.mCustomScrollbar(data-mcs-theme="dark-3")
    .modal-background-settings
        section.modal-settings
            .modal-close-button
            h1.modal-settings__caption Настройки
            form(id="setting-password-form", method="post", action="#", role="form").modal-settings__form

                .setting-password-form__old-password-container
                    .setting-password-form__input-old-password-container.custom-input__container
                        label(for="inputOldPassword").setting-password-form__old-password-label.custom-input__label Пароль
                            .custom-input__validation-output-container
                                span.custom-input__validation-output-field Неверный пароль
                            .custom-input__inputs-container
                                +icon('Group-3', 'custom-input__icon input-password__password-icon')
                                input(type="password" id="inputOldPassword" placeholder="Введите пароль").setting-password-form__field-old-password.custom-input__field
                    button(type="button").setting-password-form__change-button.button-close-type Изменить

                .setting-password-form__new-password-container
                    .input-password__container.modal-settings__input-password-container
                        label(for="inputPasswordNew").input-password__new-label Новый пароль
                        label(for="inputPasswordRepeat").input-password__repeat-label Повторите пароль
                        .input-password__validation-output-container
                            span.input-password__validation-output-field Неверный пароль
                        .input-password__inputs-container
                            +icon('Group-3', 'input-password__password-icon')
                            input(type="password" id="inputPasswordNew").input-password__field-new
                            input(type="password" id="inputPasswordRepeat").input-password__field-repeat
                            .input-password__show-hide-password-button
                                +icon('ic-eye-close', 'input-password__show-password-icon')
                                +icon('ic-eye-open', 'input-password__hide-password-icon')
                            a(href="javascript:void(0);" class="input-password__ok-button") ОК

                .custom-checkbox__container.modal-settings__sms-notify
                    label.custom-checkbox__label СМС уведомления
                        input(type="checkbox" checked="unchecked" name="sms" value="sms-notify").custom-checkbox__checkbox
                        .custom-checkbox__icon-container
                            +icon('check', 'custom-checkbox__checked-icon')
                            +icon('uncheck', 'custom-checkbox__unchecked-icon')

                .custom-checkbox__container.modal-settings__email-notify
                    label.custom-checkbox__label E-mail уведомления
                        input(type="checkbox" checked="unchecked" name="sms" value="sms-notify").custom-checkbox__checkbox
                        .custom-checkbox__icon-container
                            +icon('check', 'custom-checkbox__checked-icon')
                            +icon('uncheck', 'custom-checkbox__unchecked-icon')
                button(type="submit").modal-settings__save-button.button-save-type Сохранить