.modal-container-question-answer
    .modal-background-question-answer
        section.modal-question-answer
            .modal-close-button
            h1.modal-question-answer__caption Вопрос-ответ
