.modal-container-action-lens
    .modal-background-action-lens
        section.modal-action-lens
            .modal-close-button
            h1.modal-action-lens__caption Участвующие линзы
            h1.modal-action-lens__order-caption Заказать бесплатную упаковку
            ul.modal-action-lens__lens-list-container
                li.modal-action-lens__lens-item(tabindex="0") Линза Acuvue
                li.modal-action-lens__lens-item(tabindex="0") Линза Acuvue
                li.modal-action-lens__lens-item(tabindex="0") Линза Acuvue
                li.modal-action-lens__lens-item(tabindex="0") Линза Acuvue
                li.modal-action-lens__lens-item(tabindex="0") Линза Acuvue
                li.modal-action-lens__lens-item(tabindex="0") Линза Acuvue
                li.modal-action-lens__lens-item(tabindex="0") Линза Acuvue
                li.modal-action-lens__lens-item(tabindex="0") Линза Acuvue
                li.modal-action-lens__lens-item(tabindex="0") Линза Acuvue
                li.modal-action-lens__lens-item(tabindex="0") Линза Acuvue
                li.modal-action-lens__lens-item(tabindex="0") Линза Acuvue
                li.modal-action-lens__lens-item(tabindex="0") Линза Acuvue

            button(type="button").modal-action-lens__save-button.button-close-type Закрыть
            button(type="button").modal-action-lens__order-button.button-save-type Заказать бесплатно