table.purchase-history-table
    tr.purchase-history-table__header
        th(colspan="2") Дата
        th Название
        th Баллы
        th Кривизна
        th Сила сферы
        th Ось
        th Сила цилиндра
        th
    tr
        td
            +icon('ic_income', 'ic_income')
        td
            .purchase-history-table__date-value 03.02.2017
            .purchase-history-table__time-value 11:15
        td
            .purchase-history-table__name-value Дополнительные баллы
            .purchase-history-table__name-quantity
        td
            .purchase-history-table__points-value.purchase-history-table__points-value__positive +20 балллов
        td
            .purchase-history-table__curvature-value
        td
            .purchase-history-table__force-of-sphere-value
        td
            .purchase-history-table__axis-value
        td
            .purchase-history-table__force-of-cylinder-value
        td
    tr.purchase-history-table__spacer
    tr
        td
            +icon('ic_income', 'ic_income')
        td
            .purchase-history-table__date-value 03.02.2017
            .purchase-history-table__time-value 11:15
        td
            .purchase-history-table__name-value 1-Day Acuvue® Trueye®
            .purchase-history-table__name-quantity 90 штук
        td
            .purchase-history-table__points-value.purchase-history-table__points-value__positive +60 балллов
        td
            .purchase-history-table__curvature-value -3.5D
        td
            .purchase-history-table__force-of-sphere-value 8.8
        td
            .purchase-history-table__axis-value
        td
            .purchase-history-table__force-of-cylinder-value
        td
    tr.purchase-history-table__spacer
    tr
        td
            +icon('ic_income', 'ic_income')
        td
            .purchase-history-table__date-value 03.02.2017
            .purchase-history-table__time-value 11:15
        td
            .purchase-history-table__name-value 1-Day Acuvue® Trueye®
            .purchase-history-table__name-quantity 90 штук
        td
            .purchase-history-table__points-value.purchase-history-table__points-value__positive +60 балллов
        td
            .purchase-history-table__curvature-value -3.5D
        td
            .purchase-history-table__force-of-sphere-value 8.8
        td
            .purchase-history-table__axis-value
        td
            .purchase-history-table__force-of-cylinder-value
        td
    tr.purchase-history-table__spacer
    tr
        td
            +icon('ic_present', 'ic_present')
        td
            .purchase-history-table__date-value 03.02.2017
            .purchase-history-table__time-value 11:15
        td
            .purchase-history-table__name-value 1-Day Acuvue® Trueye®
            .purchase-history-table__name-quantity 30 штук
        td
            .purchase-history-table__points-value.purchase-history-table__points-value__negative -120 балллов
        td
            .purchase-history-table__curvature-value -3.5D
        td
            .purchase-history-table__force-of-sphere-value 8.8
        td
            .purchase-history-table__axis-value
        td
            .purchase-history-table__force-of-cylinder-value
        td
    tr.purchase-history-table__spacer