header
  height: 5rem
  width: 100%
  box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.03)

.header-logo-block
  display: inline-flex
  justify-content: center
  align-items: center
  margin-left: 3.75rem
  width: 7.375rem
  height: 5rem
  background-color: $mainColor

.header-logo-acuvue,
.header-logo-optica
  margin-left: 0.5rem
  margin-right: 0.5rem
  width: 2.25rem
  height: 2.25rem
  border-radius: 1.125rem
  background-color: white
  box-shadow: 0 3px 6px 0 rgba(118, 219, 245, 0.43)

.header-logo-separator
  width: 2px
  height: 40px
  background-color: rgba(255, 255, 255, 0.7)