nav
  letter-spacing: -0.4px

.navbar-toggler-text
  font-size: $baseFontSize

.nav-item
  margin-right: 0.5vw
  margin-left: 0.5vw
  &:first-child
    margin-left: 1vw
.nav-link
  text-wrap: none

.hot-line
  color: $mainColor
  &
    a
      padding-top: 0
      padding-bottom: 0
      padding-left: 0.5vw
      padding-right: 0.5vw
      color: $mainColor
      &:hover
        color: $mainColor
    p
      margin-top: 0
      margin-bottom: 0

.phone-number
  font-family: "CirceBold"
  font-size: 1.063rem

.time-for-calling
  font-size: 0.75rem
