.custom-navbar__menu
  display: flex
  justify-content: flex-start
  align-items: center
  color: $menuColor
  letter-spacing: -0.4px

@media screen and (max-width: $toggleMenuMobile)
  .custom-navbar__menu
    order: 1

.custom-navbar__menu
  ul
    height: $headerHeight
    li
      display: inline-block
      float: left
      margin-left: 1rem
      margin-right: 1rem
      height: $headerHeight
      &.menu-exit-item
        display: none
      a
        display: inline-block
        height: $headerHeight
        line-height: $headerHeight
        vertical-align: middle
        transform: perspective(1px) translateZ(0)
        position: relative
        overflow: hidden
        &:before
          content: ""
          position: absolute
          z-index: -1
          left: 0
          right: 100%
          bottom: 0
          background: $mainColor
          height: 4px
          transition-property: right
          transition-duration: 0.1s
          transition-timing-function: ease-out
        &:hover:before, &:focus:before, &:active:before
          right: 0
        &.custom-navbar__active-item:before
          right: 0

    &:first-child
      margin-left: 2rem
  .custom-navbar__toggle-nav
    display: none


@media screen and (max-width:  $toggleMenuWidth)
  .custom-navbar__menu
    position: relative
    ul.custom-navbar__active
      display: none
    ul
      height: auto
      position: absolute
      left: -48.5%
      top: 102%
      width: 15rem
      box-shadow: 3px 3px 1px rgba(0,0,0,0.15)
      border-radius: 0 0 3px 3px
      background: white
      li
        width: 93%
        height: 3rem
        a
          height: 3rem
          line-height: 3rem

    .custom-navbar__toggle-nav
      display: inline-flex
      margin-left: 1rem
      & span
        margin-left: 1rem
        line-height: 1.5rem
      .toggle-icon
        display: inline-block
        width: 1.5rem
        height: 1.5rem
        stroke: none
        fill: $mainColor


@media screen and (max-width:  $toggleMenuMobile)
  .custom-navbar__menu
    ul
      left: 0
      width: 100vw
      align-items: center
      li
        text-align: center
      &:first-child
        margin-left: 0rem
      li.menu-exit-item
        display: block
        a
          display: inline-flex
          align-items: center

    .custom-navbar__toggle-nav
      margin-left: 1rem
      span
        display: none