$labelColor: #b7b7b7

.modal-background-settings
  .modal-settings
    box-sizing: border-box
    padding-top: 3.75rem
    padding-left: 7.875rem
    height: 100%
    width: 65%
    background: radial-gradient(100% 120% at 100% 50%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 99.9%,rgba(0,163,224,0) 100%)
  @media screen and (max-width:  $tabletWidth)
    .modal-settings
      padding-top: 3.75rem
      padding-left: 3.75rem
      width: 100%
      background: white

.modal-close-button
  position: absolute
  top: 1.5rem
  right: 1.5rem
  height: 1.563rem
  width: 1.563rem
  background-image: url(../img/common/ic_close.svg)
  -webkit-background-size:
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  cursor: pointer
  //stroke: black
  //fill: white

.modal-settings__caption
  margin-bottom: 3rem
  color: $mainColor
  font-size: 1.75rem
  text-align: left

.setting-password-form__old-password-container
  position: relative
  text-align: left
  .setting-password-form__input-old-password-container
    display: inline-block
    width: 40%
    .custom-input__inputs-container
      border: solid 1px #dcdcdc

.setting-password-form__change-button
  position: absolute
  left: 43%
  bottom: 1.25rem
  z-index: 2



.setting-password-form__new-password-container
  max-width: 35rem
  display: none

.modal-settings__input-password-container
  margin-left: -2px
  margin-bottom: 2rem
  & .input-password__show-hide-password-button
    right: 17%

.modal-settings__sms-notify
  margin-bottom: 0.75rem
.modal-settings__email-notify
  margin-bottom: 2rem

.modal-settings__save-button
  display: block
  float: left
  margin-top: 1rem
  //width: 7.813rem
  //height: 3.625rem
  line-height: 3.625rem