// ЦВЕТА
$mainColor: #00a3e0
$logoColor: #00468c
$menuColor: #00aae8
$lightBlue: #beefff
$footerColor: #141414


// РАЗМЕРЫ
$baseFontSize: 16px
$baseFontSizeTablet: 14px
$baseFontSizeMobile: 12px

$headerHeight: 5rem
$footerHeight: 6rem



// ШРИФТЫ
$mainFont: "CirceRegular"

//Ширина экрана для медиазапросов
$toggleMenuWidth: 1300px
$toggleMenuMobile: 620px
$iPadTabletWidth: 1024px
$tabletWidth: 768px
$mobileWidth: 480px


